<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <link rel="stylesheet" href="./styles.css"/>
</head>
	<body>
		<div id="quoteContainer">
			<div id="search-div">
			</div>
			<table class="table">
			  <thead>
			    <tr>
			      <th>Quote</th>
			      <th>Context</th>
			      <th>Source</th>
			      <th>Theme</th>
			    </tr>
			  </thead>
			  <tbody id="table-body"></tbody>
			</table>

			<script type="text/template" id="quote-template">
				<td><%= quote %></td>
				<td><%= context %></td>
				<td><%= source %></td>
				<td><%= theme %></td>
			</script>
		</div>
		<script type="text/javascript" src="./quotes.js"></script>
	</body>
</html>


<!-- Please fork the repository and complete all of the following exercises.
When you are finished, submit a pull request for review.

If you have any questions, feel free to email developers@benchprep.com

## JavaScript/CoffeeScript

### Simple Backbone.js List

In `quotes.html` you will need to build a simple [Backbone.js](http://backbonejs.org/) view to list the given quotes. Please do not use any libraries or plugins to do this other than [jQuery](https://jquery.com/), [Backbone.js](http://backbonejs.org/), and [underscore.js](http://underscorejs.org/).

Please provide the following functionality:

 * Fetch quotes from the source [quotes.json](https://gist.githubusercontent.com/anonymous/8f61a8733ed7fa41c4ea/raw/1e90fd2741bb6310582e3822f59927eb535f6c73/quotes.json) and display the available information in a list-like structure (table/list)
 * Provide client-side pagination (up to 15 quotes per page)
 * Optionally: Provide a way to filter between game and movie quotes
 * Optionally: Provide a client-side search that filters by the quote text

Please use your discretion in implementing the optional, nice-to-have features (if interested). -->